# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
package-lock.json
